{% extends "main.html" %} {% block title %}Chat{% endblock %} {% block content %} {% if request.user.is_authenticated %}

<div class="messages-container">
	{% for message in messages %}
	<div class="message-box"><b>{{message.author.first_name}}</b>: {{message.text}} <span class="message-date">{{message.created_at}}</span></div>
	{% endfor %}
</div>

<div class="chat-forms-container">
	<form action="/chat/" method="post">
		{% csrf_token %}
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" name="textmessage" type="text" id="sample1" />
			<label class="mdl-textfield__label" for="sample1">Text...</label>
		</div>

		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Send</button>
	</form>
</div>
{% else %}
<div class="login-info-txt-container">
	<h4>To use the chat, you need to log in <a href="/login">here</a></h4>
</div>

{% endif %} {% endblock %}
